1 VERSIONINFO
FILEVERSION 3,2,0,350
PRODUCTVERSION 3,2,0,0
{
 BLOCK "StringFileInfo"
 {
  BLOCK "040904E4"
  {
   VALUE "Comments", "\000"
   VALUE "CompanyName", "SPINA project, Formatio Reticularis and Ruhr University of Bochum\000"
   VALUE "FileDescription", "SPINA Thyr\000"
   VALUE "FileVersion", "3.2.0.350\000"
   VALUE "InternalName", "SPINA Thyr\000"
   VALUE "LegalCopyright", "J. W. Dietrich\000"
   VALUE "LegalTrademarks", "\000"
   VALUE "OriginalFilename", "SPINA Thyr\000"
   VALUE "ProductName", "SPINA Thyr\000"
   VALUE "ProductVersion", "3.2.0.0\000"
  }
 }
 BLOCK "VarFileInfo"
 {
  VALUE "Translation", 0x0409, 0x04E4
 }
}

MAINICON ICON "spina_thyr.ico"
