<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
SPINA Carb

Application for calculating structure parameters
of insulin glucose homeostasis

Programm zur Berechnung von Strukturparametern
des Insulin-Glukose-Regelkreises

Version 5.1.0 (Cyclone)

(c) J. W. Dietrich, 1994 - 2025
(c) Ludwig Maximilian University of Munich 1995 - 2002
(c) University of Ulm Hospitals 2002-2004
(c) Ruhr University of Bochum 2005 - 2025

Source code released under the BSD License
See http://spina.medical-cybernetics.de for details
-->
<plist version="1.0">
<dict>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleExecutable</key>
	<string>SPINA_Carb</string>
	<key>CFBundleVersion</key>
	<string>5.1.0</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
  <key>CFBundleLocalizations</key>
  <array>
    <string>en</string>
  </array>
	<key>CFBundleName</key>
	<string>SPINA Carb</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>SPIc</string>
	<key>CFBundleShortVersionString</key>
	<string>5.1.0</string>
	<key>CFBundleGetInfoString</key>
	<string>5.1.0, ©1994-2025 J. W. Dietrich</string>
	<key>NSHumanReadableCopyright</key>
	<string>5.1.0, ©1994-2025 J. W. Dietrich</string>
	<key>CFBundleIdentifier</key>
	<string>net.sf.spina.carb</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.medical</string>
	<key>CFBundleIconFile</key>
	<string>iconfile.icns</string>
	<key>CSResourcesFileMapped</key>
	<true/>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>*</string>
			</array>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>fold</string>
				<string>disk</string>
				<string>****</string>
			</array>
		</dict>
	</array>
	<key>LSMinimumSystemVersion</key>
	<string>10.4.0</string>
  <key>NSHighResolutionCapable</key>
  <true/>
</dict>
</plist>
